@import 'styles/main';

.paginationContainer {
  box-sizing: border-box;
  padding: $space-2 0;
  width: 100%;
  @include flexCenter;
}

.paginationContent {
  @include flexCenter;

  margin: 0 auto;

  .rotateChevron {
    transform: rotate(180deg);
  }
}

li.breakClass a {
  height: 32px;
  letter-spacing: 3;
}

ul.pagination {
  @include flexCenter;

  justify-content: space-between;
  list-style-type: none;
  padding: 0 $space * 0.5;

  li {
    @include flexCenter;

    cursor: pointer;
    font-size: $fontSizeSmall;
    margin: 0 $space * 0.5;
    min-height: 40px;
    min-width: 40px;
    width: auto;

    a {
      color: $c-neutral-70;
      margin: 0;
      min-height: 40px;
      min-width: 40px;
      padding: 0 $space;
      width: auto;
      @include flexCenter;
    }

    a.activeLinkClass {
      background-color: $c-neutral-70;
      border-radius: $space * 0.5;
      color: $c-neutral-0;
      font-weight: $fontWeightSemiBold;
      padding: 0 $space;
    }
  }

  li.selected {
    padding: 0 $space;
  }
}

a.paginationLinkClass {
  @include flexCenter;

  border-radius: $space * 0.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0 $space;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-neutral-40;
  }
}

button.buttonClass {
  background-color: $c-neutral-20;
  border-radius: $space * 0.5;
  color: $c-navy-80;
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  width: auto;
  @include flexCenter;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-neutral-40;
  }
}

.disabledClass {
  background-color: $c-neutral-20;
  color: $c-neutral-40;
  opacity: 0.5;
}

li.breakClass {
  box-sizing: border-box;
  color: $c-navy-80;
  font-size: $baseFontSize;
  font-weight: $fontWeightSemiBold;
  height: 32px;
  max-height: 40px;
  padding-bottom: $space;
  pointer-events: none;
}
