@mixin inputFont {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.inputWrapper {
  @include inputFont;

  .inputLabel {
    color: #051d2e;
    display: block;
    margin-bottom: 4px;
  }

  .input {
    background: #f3f6f9;
    border: 1px solid #93a3b1;
    border-radius: 8px;
    height: 48px;
    padding: 16px;
    @include inputFont;
  }

  input::placeholder {
    color: #93a3b1;
  }

  .inputTextError {
    border: 1px solid #efa2ab;
    color: #c13344;
  }

  .inputTextSuccess {
    border: 1px solid #efa2ab;
    color: #2b826c;
  }

  .disabled {
    pointer-events: none;

    input {
      opacity: 0.5;
    }
  }
}
