@import 'styles/variables';

.character {
  display: grid;
  @media screen and (min-width: 600px) {
    grid-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 2fr;

    .characterName {
      align-self: center;
      font-size: $fontSizeUltraLarge;
      grid-column: 6/-1;
      grid-row: 1/2;
    }

    .characterImage {
      grid-column: 1/6;
      grid-row: 1/4;

      img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
      }
    }

    .characterDetails {
      grid-column: 6/-1;
      grid-row: 2/4;
      height: 100%;
      width: 100%;
    }
  }
  @media screen and (max-width: 599px) {
    grid-gap: 16px;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 2fr 3fr;

    .characterName {
      align-self: center;
      font-size: $fontSizeUltraLarge;
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    .characterImage {
      grid-column: 1/-1;
      grid-row: 2/4;

      img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
      }
    }

    .characterDetails {
      grid-column: 1/-1;
      grid-row: 4/7;
      height: 100%;
      width: 100%;
    }
  }

  .enemies {
    margin: $space-2 0;

    .enemy {
      padding: $space;
    }
  }

  .created,
  .updated {
    margin: $space-2 0;
  }

  .films {
    margin: $space-2 0;

    .film {
      padding: $space;
    }
  }

  .titles {
    font-weight: $fontWeightBold;
    margin: $space 0;
  }
}
