@import 'styles/main';

.genericNotFound {
  align-items: center;
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 100%;

  svg {
    height: 64px;
    width: 64px;
  }

  .icon {
    align-items: center;
    background: $colorTintGrey;
    border-radius: 50%;
    display: flex;
    height: 224px;
    justify-content: center;
    width: 224px;
  }

  .text {
    @include text-1;

    margin: $space-3 0;

    .title {
      @include text-1;
      @include flexCenter;

      font-weight: $fontWeightSemiBold;
      padding: $space-2 0;
    }

    .subtitle {
      text-align: center;
    }
  }
}
