@import 'styles/main';

$mobileImageHeight: 40vh;
$deskTopImageHeight: 85vh;

.character {
  display: grid;
  font-weight: $baseFontWeight;
  font-size: $fontSizeLarge;
  min-width: 100%;
  min-height: 100%;
  padding: 0 $space-2 $space-2;
  max-height: 100vh;
  @media screen and (min-width: 600px) {
    grid-gap: $space-2;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12fr;

    .characterName {
      align-self: top;
      font-size: $fontSizeUltraLarge;
      font-weight: $fontWeightBold;
      grid-column: 7/12;
      grid-row: 1/2;
    }

    .characterImage {
      grid-column: 1/7;
      grid-row: 1/12;
      min-width: auto;
      min-height: auto;

      img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
        min-height: $deskTopImageHeight;
      }
    }

    .characterDetails {
      grid-column: 7/12;
      grid-row: 2/12;
      height: 100%;
      width: 100%;
    }
  }
  @media screen and (max-width: 599px) {
    grid-gap: $space-2;
    grid-template-columns: 12fr;
    grid-template-rows: 12fr;

    .characterName {
      align-self: center;
      font-size: $fontSizeUltraLarge;
      grid-column: 1fr;
      grid-row: 1/2;
    }

    .characterImage {
      grid-column: 1fr;
      grid-row: 2/6;
      min-width: auto;
      min-height: auto;

      img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
        min-height: $mobileImageHeight;
      }
    }

    .characterDetails {
      grid-column: 1fr;
      grid-row: 6/12;
      height: calc(100% - $mobileImageHeight);
      width: 100%;
    }
  }

  .created,
  .updated {
    margin: $space-2 0;
    padding: $space 0;
  }

  .titles {
    font-weight: $fontWeightSemiBold;
    font-size: $fontSizeExtraLarge;
    margin: $space 0;
  }
}
