@import 'styles/variables';

.Toastify {
  &__toast-container {
    width: 400px !important;
  }

  &__toast {
    border-radius: 8px;
    box-shadow: none;
    padding: $space $space-2 !important;
  }

  &__toast-body.toastbody {
    font-family: $fontFamily;
    padding: $space;

    .title {
      font-weight: $fontWeightBold;
      margin-bottom: 8px;
    }

    .body {
      font-size: $fontSizeSmall;
      font-weight: $baseFontWeight;
    }

    .icon-wrapper {
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      height: 48px;
      justify-content: center;
      min-width: 48px;

      .image-icon {
        height: 24px;
        width: 24px;
      }

      .success {
        path {
          fill: #075d48;
        }
      }

      .error {
        color: #8e0b1a;
        height: 32px;
        stroke: #8e0b1a;
        width: 32px;

        path {
          fill: #fff;
          stroke: #8e0b1a;
        }
      }

      .information {
        path {
          fill: #445869;
        }
      }
    }
  }

  &__close-button {
    align-self: center;
  }

  &__toast-icon {
    height: 48px !important;
    width: 48px !important;
  }

  &__toast-theme--colored.Toastify__toast {
    &--success {
      background: #cefdd0 !important;
      color: #075d48 !important;

      .Toastify__close-button {
        align-self: center;
        color: #075d48;
      }
    }

    &--error {
      background: #ffecee !important;
      color: #8e0b1a !important;

      .Toastify__close-button {
        align-self: center;
        color: #8e0b1a;
      }
    }

    &--info {
      background-color: #f3f6f9 !important;
      color: #32414d !important;

      .Toastify__close-button {
        align-self: center;
        color: #32414d;
      }
    }
  }

  &__progress-bar {
    height: 4px;
  }

  &__progress-bar-theme--colored.Toastify__progress-bar {
    &--success {
      background: #2b826c !important;
    }

    &--error {
      background: #a60c1e !important;
    }

    &--info {
      background: #445869 !important;
    }
  }
}
