@import '../../styles/variables';
@import '../../styles/mixins';

.paginationContainer {
  display: grid;
  align-items: center;
  padding: $space-2 0;
  width: 100%;
  justify-content: center;

  select {
    width: 100px;
    border-radius: 4px;
    border: 1px solid #5e7487;
    background-color: $greyBG;
    font-family: $fontFamily;
  }
}

.button,
.previous {
  height: 48px;
  max-width: 64px !important;
  border-radius: 8px;
  border: none !important;
  font-weight: 600 !important;
  font-family: $fontFamily !important;
  font-size: $baseFontSize !important;
}

@media screen and (min-width: 960px) {
  .paginationContainer {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 959px) {
  .paginationContainer {
    width: 100%;
    grid-template-columns: 1/-1;
    grid-template-rows: auto auto;
    gap: 32px;
    justify-content: center;
  }
}

.paginationContent {
  @include flexCenter;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.paginationWrapper {
  display: flex;
  align-self: center;
  margin: 0;
}

.paginationRangeContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.paginationRange {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-right: $space-2;
  font-size: $baseFontSize;
  color: $fontColor;
}

.paginationNumber {
  min-width: 160px;
}

.paginationSpan {
  margin: 0 $space;
  font-weight: 600;
}

.pagination {
  @include flexCenter;
  width: 100%;
  list-style: none;
  padding: 0 calc($space/2);
  margin: 0 $space;
}

.paginationLinkClass {
  @include flexCenter;
  padding: $space * 1.75;
  background-color: #d1e6fa;
  margin: 0 $space;
  color: $fontColor;
  border-radius: 6px;
  cursor: pointer;
}

.activeLinkClass {
  background-color: #2b826c;
  color: #fff !important;
  font-weight: 600;
  padding: $space * 1.75 $space-2;
  border-radius: 8px;
  cursor: pointer;
}

.breakClass {
  font-size: $baseFontSize;
  font-weight: 800;
  color: $fontColor;
  a {
    font-size: $baseFontSize;
    font-weight: 800;
    color: $fontColor;
  }
}
.disabledClass {
  color: #fff !important;
  font-weight: 600;
  border-radius: $space;
  pointer-events: none;
}
