@import '~styles/variables';

.avatarRoot {
  align-items: center;
  background-color: $infoColorDark;
  border-radius: 100%;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  width: 56px;
}

.avatarImage {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.avatarFallback {
  align-items: center;
  background-color: $colorTintGrey;
  color: $fontColor;
  display: flex;
  font-size: $fontSizeSmall;
  font-weight: $fontWeightSemiBold;
  height: 100%;
  justify-content: center;
  width: 100%;
}
