@import 'styles/main';

$button-small-height: 40px;
$button-micro-height: 32px;
$button-tertiary-height: 28px;
$button-default-height: 48px;
$button-border-radius: 8px;
$button-default-font-size: 16px;
$button-small-font-size: 14px;
$button-font-weight-bold: 600;

@mixin button-component {
  align-items: center;
  background-color: $c-neutral-70;
  border: 0;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  color: $c-neutral-0;
  cursor: pointer;
  display: inline-flex;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: $button-default-font-size;
  font-weight: $button-font-weight-bold;
  height: $button-default-height;
  justify-content: center;
  padding: $space-3 * 0.5 $space-3;
  user-select: none;
  width: 100%;

  &:hover {
    background-color: $c-neutral-80;
  }

  &:focus {
    background-color: $c-neutral-80;
  }

  &--fixed {
    width: auto;
  }

  &--disabled {
    background-color: $c-neutral-30;
    color: $c-neutral-60;
    pointer-events: none;
  }

  & > * {
    flex-direction: row;
  }

  & > &--icon {
    display: inline-flex;
    margin-right: $space * 1.5;
  }

  // button sizes
  &--small {
    font-size: $button-small-font-size;
    height: $button-small-height;
    padding: $space $space-3;
  }

  &--micro {
    border-radius: $space-2;
    font-size: $button-small-font-size;
    height: $button-micro-height;
    line-height: 1;
    padding: $space $space-2;
  }

  &--secondary {
    background-color: $c-negative-20;
    border: 2px solid $c-negative-20;
    color: $c-negative-70;

    &:hover {
      background-color: $c-negative-30;
      border: 2px solid $c-negative-30;
    }

    &:focus {
      background-color: $c-negative-30;
      border: 2px solid $c-negative-30;
    }

    &:active {
      background-color: $c-negative-60;
      border: 2px solid $c-negative-60;
      color: $c-neutral-0;
    }

    &.t-button--disabled {
      border-color: $c-orange-40;
      color: $c-neutral-60;
    }
  }

  &--tertiary {
    background-color: transparent;
    color: $c-orange-80;
    font-size: $button-default-font-size;
    font-weight: $button-font-weight-bold;
    height: $button-default-height;
    padding: $space * 5 $space-3;

    &:hover {
      background-color: transparent;
      color: $c-orange-70;
    }

    &:focus {
      background-color: transparent;
      color: $c-orange-70;
    }

    &:active {
      background-color: transparent;
      color: $c-orange-80;
    }

    &.t-button--disabled {
      color: $c-neutral-60;
    }
  }

  &--icon-right {
    flex-direction: row-reverse;

    .t-button--icon {
      margin-left: $space * 1.5;
      margin-right: 0;
    }
  }

  &--destructive {
    background-color: $c-negative-30;
    border: 2px solid $c-negative-30;
    color: $c-negative-80;

    &:hover,
    &:focus {
      background-color: $c-negative-60;
      border: 2px solid $c-negative-60;
      color: $c-neutral-0;
    }

    &:active {
      background-color: $c-negative-80;
      border: 2px solid $c-negative-80;
      color: $c-neutral-0;
    }

    &.t-button--disabled {
      background-color: $c-neutral-30;
      color: $c-neutral-60;
    }
  }
}

.t-button {
  @include button-component;
}
